 body{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
} 

h1{
    text-align: center;
    margin: 0;
    padding: 10px 10px  10px 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}



container{width: 50%;}


.submitBtn{
    background-color: orange;
    color: #fff;
    padding: 2%;
    margin: 10px 0 0 0 ; 
    font-size: 20px;
    border: none;
    cursor: pointer;
}

input{
    padding: 1%;
    margin: 5px;

} 

label{
    font:900;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 20;
    padding: 10px 0 0px  0 ;
    margin: 10px 0 0px 0 ;
}